.chart-title {
  -fx-text-fill: blue;
  -fx-font-size: 1.6em;
}

.button-start {
    -fx-pref-height: 48.0;
    -fx-pref-width: 228.0;
    -fx-background-color:  #1683fb;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0.5,0,3 );
}

.button-recent {
    /*
    -fx-pref-height: 40.0;
    -fx-pref-width: 190.0;
    */
    -fx-background-color:  #1683fb;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0.5,0,3 );
}

.button-tab {
    /*
    -fx-pref-height: 40.0;
    */
    -fx-background-color:  #1683fb;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0.5,0,3 );
}

.textfield-open {
    /*
    -fx-pref-height: 40.0;
    -fx-pref-width: 190.0;
    */
    -fx-background-color:  #1683fb;
    -fx-text-fill: white;
}